# Bot credentials
BOT_TOKEN=8815344869:AAHAhsVZZ34GIdi2om9DXjdcFwY0YgwgjL0
ADMIN_ID=7508710759

# Channel 1 – normal join
CHANNEL_1_ID=-1003260353876
CHANNEL_1_LINK=https://t.me/TheNextLevelOfficial

# Channel 2 – normal join
CHANNEL_2_ID=-1003971062167
CHANNEL_2_LINK=https://t.me/+hYM-A7mpsV4xOTll

# Channel 3 – join request
JOIN_REQUEST_CHANNEL_ID=-1004360222856
JOIN_REQUEST_CHANNEL_LINK=https://t.me/+QucLSiC1M8ZmODc1

# Backup GC – join request
BACKUP_GC_ID=-1004331557651
BACKUP_GC_LINK=https://t.me/+pPvJbytZmX80NGFl

# Referral thresholds
REQUIRED_REFERRALS_METHOD_1=5
REQUIRED_REFERRALS_METHOD_2=10
REQUIRED_REFERRALS_ALL=15

# Support link (set later)
SUPPORT_LINK=https://t.me/sourya791m_bot